
@font-face {
    font-family: Anonymous;
    src: url('/fonts/anonymous/AnonymousPro-Regular.ttf');
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    width: 95%;
    font-size: 100%;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    color: #555;
    background-color: #fff;
}

h1, h2, h3, h4 {
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
}

h1 {
    font-size: 1.25em;
    margin-top: 1em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.9em;
}

h4 {
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.6em;
}

hr {
    background: #aaa;
    color: #aaa;
}

code {
    font-family: Anonymous, Menlo, Courier, Courier New, monospace;
    font-size: 0.8em;
}

.breadcrumbs {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.7em;
    width: 100%
}

.no-breadcrumbs {
    border-top: 1px solid #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.homepage-section {
/*    border-top: 1px solid #aaa; */
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.homepage-section:first-child {
    border-top: none;
}

.footer {
    border-top: 1px solid #aaa;
    font-size: 0.8em;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul.toc-sections li {
    padding-bottom: 0.5em;
}

.blog-header {
    font-size: 0.75em;
}

.blog-header p {
    margin: 0;
}

.quote p {
    margin-left: 3em;
    margin-right: 3em;
    border: 1px #aaa dotted;
    padding: 0.5em;
    background-color: #F3E5AB;
}

#logo {
    margin-top: 1em;
    font-size: 1.75em;
    height: 52px;
}

#logo a {
    height: 52px;
}

#logo-inner {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    display: inline-block;
    color: #555;
}

#logo img {
    vertical-align: middle;
}

#logo-dot {
    color: #F22;
}

p.blog-list {
    margin: 0.25em 1em 0.25em 0 !important;
}

.blog-list {
    padding-top: 0.5em;
}

.blog-list:first-of-type {
    padding-top: 0;
}

.homepage-section h2 {
    margin-top: 0.5em;
}

.main-content {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.quote .quote-content {
    font-style: italic;
}

.quote .quote-attribution {
    padding-left: 2em;
}

.nav-content ul {
    padding: 0;
    margin: 0;
}

.nav-content ul:first-child {
    padding-top: 0;
}

.nav-content ul li {
    padding-top: 0.5em;
    font-size: 0.8em;
}

.nav-item {
    padding-bottom: 1em;
}

.nav-logos {
    padding-top: 0.5em;
}

.nav-logos img {
    height: 32px;
}

.nav-title {
    font-variant: small-caps;
    font-weight: bold;
}

.nav-link {
    padding-bottom: 0.5em;
}

.nav-link a {
    color: #555;
    text-decoration: none;
}

pre {
    padding: 1em;
    font-family: Anonymous, Menlo, Courier, Courier New, monospace;
    font-size: 0.95em;
    border: 1px #aaa dotted;
    overflow: auto;
}

/*
 * Desktop layout
 */
@media all and (min-width: 800px) {
    .main {
        display: table;
    }

    .large-row {
        display: table-row;
    }

    .small-row {
        display: table-cell;
    }

    .nav {
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
    }
}

/*
 * Mobile layout
 */
@media all and (min-width: 0px) and (max-width: 800px) {
    .large-row {
        display: table;
    }

    .small-row {
        display: table-row;
    }

    .main-content {
        display: table-cell;
    }

    .nav {
        border-top: 1px solid #aaa;
        padding-top: 1em;
    }

    .nav-content {
        padding-left: 1em;
        padding-right: 1em;
    }
}

